doctype html
html
  head
    title Form
    link(rel='stylesheet' href='https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css')
  body
    .container.mt-5
      h2.mb-4 Master Form
      form(action='/submit' method='POST')
        .mb-3
          label.form-label(for='earn') Earnings per Annual
          input.form-control(type='number' id='earn' name='earn' min='100000' required)
        
        .mb-3
          label.form-label(for='expenses') Expenses per  Monthly
          input.form-control(type='number' id='expenses' name='expenses' min='1' required)
        .mb-3
          label.form-label(for='postcode') Postcode
          input.form-control(type='number' id='postcode' name='postcode' min='1000' required)
        button.btn.btn-primary(type='submit') Submit
